body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* k nền dùng padding để đảy cái thanh màu nâu xuoogns nha vở giao diện, nền dùng div xong style cho nó */

#header {
    width: 100%;
    background-color: #7ed6df;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 1px solid #000;

}
#toggle{
    font-size: 1.8rem;
    position: absolute;
    top: 10px;
    right: 10px;
    display:none;
}
.header_logo {
    margin: 4px 0 0 4px;
    position: absolute;

}

.header_logo-img {
    width: 148px;
    height: 72px;
}

#header_message-list {
    margin-left: 18%;
    font-weight: 600;
}

#header_message-list li {
    display: inline-block;
}

#header_message-list li a {
    color: var(--black-color);
    text-decoration: none;
    line-height: 40px;
    padding: 0 16px;
}
/* h muốn thêm dấu 3 gạch menu làm sao */

nav {

    position: absolute;
    width: 100%;
    display: flex;
}
nav li a:hover {
    background-color: #dcdde1;
    transition: all 0.3s;
}
.nav__overlay {
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    display:none;
    animation: fadeIn linear 0.4s;
}
.nav__mobile {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    width: 320px;
    max-width: 100%;
    background:#00cec9;
    display:none;
    transform: translateX(100%);
    opacity:0;
    animation: transform linear 0.4s, opacity linear 0.4s;
    
    
}
#nav__mobile-list {
    margin-top: 25px;
    list-style: none;
   
}
.nav__mobile-link {
    text-decoration: none;
    color:#333;
    display: block;
    padding: 12px 0;
    font-size: 1.4rem;
}
.nav__mobile-link:hover {
    color:#fff;
}
.nav__input {
    display:none;
}
.nav__logo {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    display:block;
}
.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity:1;
}


.container {
    margin-top: 100px;
    /* width: 25%; */
    padding-bottom: 10px;
}

.container_title {
    background-color: #270101;
    width: 100%;
    height: 38px;
    text-align: center;
    color: #fff;
    font-size: 1.9rem;
    position: absolute;
    left: 0;
}

.container_message {
    font-size: 1.2rem;
}

.cart_list {
    text-align: center;
    margin-top: 32px;
}
.cart_list-item {

    float: left;
    width: 24%;
    margin: 10px 0px 10px 4px;
    border: 3px solid #000;
}

.cart_list-item:hover {
    border: 3px solid aqua;
    transition: 0.3s;
}

.cart_img {
    width: 100%;
}

.cart_content {
    padding: 10px 0;
    background-color: #4ddef1;
}
/* Mobile */
@media only screen and (max-width: 740px) {
        .cart_mobile{
            display:block;
            width: 40%;
            margin: 0 5px 10px 20px;
        }
        .nav__mobile {
            width: 240px;
            max-width: 100%;
        }
        #toggle {
            color:#000;
            display:inline-block;
            font-size: 1.6rem;
            background: transparent;
            cursor: pointer;
        }
        .cart_list {
            margin-top: 8.5rem;
        }
        .cart_name {
            display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .container_title {
            display:block;
            margin-top: 5.4rem;
        }
  }
  /* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
        .cart_list-item {
            width: 47%;
        }
        .cart_name {
            display:-webkit-box;
           -webkit-box-orient: vertical;
           -webkit-line-clamp: 2;
        }
}
/* Mobile && tablet */
@media only screen and (max-width: 1023px) {
    button {
        border: none;
    }
    
    #toggle {
        color:#000;
        display:inline-block;
        font-size: 1.6rem;
        background: transparent;
        cursor: pointer;
    }
    #header_message-list {
        display:none;
    }
    .header_logo {
        display: none;
    }
    .nav__close-btn {
        width: 28px;
        height: 28px;
        color:#333;
        position:absolute;
        top:0.5rem;
        right:1rem;
    }
    .nav__close-btn:hover {
        background-color: rgb(233, 54, 54)(202, 45, 45);
        color:#fff;
    }
    .nav__mobile {
        display:block;
        
    }
    .nav__logo {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}